---
import { Icon } from "astro-icon/components";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import ContactCard from "./ContactCard.astro";

const executiveSummary = Object.values(await import.meta.glob("../pages/executive-summary/*.md", { eager: true })) as any[];
const valuesVision = Object.values(await import.meta.glob("../pages/values-vision/*.md", { eager: true })) as any[];
const skillsFinance = Object.values(await import.meta.glob("../pages/skills-finance/*.md", { eager: true })) as any[];
const skillsStrategy = Object.values(await import.meta.glob("../pages/skills-strategy/*.md", { eager: true })) as any[];
const skillsCloudAi = Object.values(await import.meta.glob("../pages/skills-cloud-ai/*.md", { eager: true })) as any[];
const experiments = Object.values(await import.meta.glob("../pages/experiments/*.md", { eager: true })) as any[];
const highlightedProjects = Object.values(await import.meta.glob("../pages/highlighted-projects/*.md", { eager: true })) as any[];
const jobHistory = Object.values(await import.meta.glob("../pages/job-history/*.md", { eager: true })) as any[];
const education = Object.values(await import.meta.glob("../pages/education/*.md", { eager: true })) as any[];
const personalBackground = Object.values(await import.meta.glob("../pages/personal-background/*.md", { eager: true })) as any[];
const references = Object.values(await import.meta.glob("../pages/references/*.md", { eager: true })) as any[];

const contact = Object.values(await import.meta.glob("../pages/contact/*.md", { eager: true })) as any[];

const PDF = "/corbet-cv-2025.pdf";
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"Executive Summary"} icon={"carbon:identification"}>
    {
      executiveSummary.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Values & Vision"} icon={"carbon:sprout"}>
    {
      valuesVision.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Skills: Finance"} icon={"carbon:chart-line"}>
  {
    skillsFinance.map((item) => {
      return (
        <Card
          title={item.frontmatter.title}
          timeframe={item.frontmatter.date}
          description={item.compiledContent()}
          tags={item.frontmatter.tags}
        />
      );
    })
  }
</AccordionLayout>

  <AccordionLayout title={"Skills: Strategy"} icon={"carbon:strategy-play"}>
    {
      skillsStrategy.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Skills: Cloud & AI"} icon={"carbon:chip"}>
    {
      skillsCloudAi.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Thoughts & Experiments"} icon={"carbon:chemistry"}>
    {
      experiments.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Key Projects"} icon={"carbon:code"}>
    {
      highlightedProjects.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Job History"} icon={"carbon:portfolio"}>
    {
      jobHistory.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.org}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Education"} icon={"carbon:education"}>
    {
      education.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            tags={item.frontmatter.tags}
            url={item.url}
            url_name={item.frontmatter.institute}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Social & Impact"} icon={"carbon:share"}>
    {
      personalBackground.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"References"} icon={"carbon:task"}>
    {
      references.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>



  <AccordionLayout title={"Files"} icon={"carbon:volume-file-storage"}>
    <div class="flex justify-center w-full">
      <div
        class="card card-compact card-bordered border-[oklch(var(--s))] w-96 md:w-112 lg:w-128 hover:shadow-lg transition-all"
      >
        <figure>
          <object data={PDF} type="application/pdf" width="100%"></object>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Resume</h2>
          <p>View and download my resume by clicking on the button below</p>
          <div class="card-actions justify-end">
            <a target="_blank" href={PDF}>
              <button class="btn btn-outline">
                <p>Download resume</p>
                <Icon name="carbon:document-pdf" class="w-6 h-6 ml-1" />
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </AccordionLayout>



</div>
